<div class="container">
  <div class="row py-3">
    <div class="col-12">
      <h2><%= @customer.name %>のfollower一覧</h2>
    </div>
    
    <%= render 'public/relationships/customer_relationship', customers: @customers %>
  </div>
</div>