<div class="container my-auto">
  <div class="row">
    <div class="col-lg-12 mt-5">
        <h1 class="display-5 title title-about", style="color:black" >World_Of_VTuberとは？</h1>
    </div>
  </div>
  <div class="row mt-1 pt-4 pb-5">
      <h4>あなたのVTuber推し活を語ったり、（グッズ、記念配信、コラボ、イベント）などの最新情報を<br>
          ファン同士で投稿してコミュニケーションするサイトです。VTuberの配信やイベントでの思い出や感想を語り合ったり、
           あなたのVTuberグッズを報告したりして他の方にシェアしよう。<br>
           ファン同士で推しについて共感していき、最高の推し活<strong>LIFE</strong>にしてください。
      </h4>
  </div>
</div>